<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
   <div class="col-md-4 col-sm-6  modal-dialog">
      <div class="modal-content">
         <div class="close-modal" data-dismiss="modal">
            <div class="lr">
               <div class="rl"></div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-md-4 col-sm-6 portfolio-item">
                  <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1A">
                     <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                           <i class="fas fa-tree" style="color: darkgreen"></i>
                        </div>
                     </div>
                     <img class="img-fluid" src="dist/img/rys1a.png" alt="">
                  </a>
                  <div class="portfolio-caption">
                     <h4>Skwery</h4>
                     <p class="text-muted">Illustration</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>