// // Extra large devices (large desktops, 1200px and up)
@media (max-width: 2000px) and (min-width: 1200px) {
  #about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -ms-flex-wrap: wrap;
    flex: wrap;
    width: 100%;
    //  height: 100vh;
    background-color: #a7d7c5;
  }
  #about .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    -ms-flex-wrap: wrap;
    flex: wrap;
    width: 100%;
    background-color: white;
  }

  #about .description h1 {
    font-size: 30px;
  }

  #about .description .block {
    margin: 20px 30px 30px 30px;
    padding: 20px;
  }

  #about .description .text-foto {
    background-color: white;
    display: flex;
    padding: 30px 120px 30px 120px;
  }

  #about .description .text-foto .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: left;
    -ms-flex-wrap: wrap;
    flex: wrap;
    width: 100%;
    background-color: white;
    padding: 8px;
  }
  #about .description .text-foto .text p {
    font-size: 18px;
    color: rgba(100, 100, 100, 0.9);
  }

  #about .description .foto {
    display: -webkit-box;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex: wrap;
    background-color: white;
    padding: 5px;
    margin: 0 auto;
    display: block;
  }
  #about .description .foto img {
    margin: 0 auto;
    width: 60%;
    border-bottom-right-radius: 120px;
    //   border-bottom-left-radius: 120px;
    border-top-left-radius: 120px;
    //  border-top-right-radius: 120px;
    background-color: rgba(35, 116, 124, 0.8);
    padding: 20px;
  }

  #about .description .block button {
    padding: 25px;
    //  margin: 20px;
    border-top-left-radius: 120px;
    background-color: rgba(35, 116, 124, 0.8);
    margin-left: 550px;
    border: 5px solid rgba(35, 116, 124, 2);
    color: white;
    font-size: 18px;
    //  border-bottom-right-radius: 120px;
  }
}

// // Large devices (desktops, 992px and up)
@media (max-width: 1200px) and (min-width: 992px) {
  #about .description h1 {
    font-size: 25px;
  }

  #about .description {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #about .description .text-foto .text {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 12px;
    height: auto;
    padding: 30px;
  }

  #about .description .text-foto .text p {
    font-size: 16px;
  }
  #about .description .text_foto .foto {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    height: auto;
  }

  #about .description .foto img {
    margin: 0 auto;
    width: 40%;
    border-bottom-right-radius: 120px;
    //   border-bottom-left-radius: 120px;
    border-top-left-radius: 120px;
    //  border-top-right-radius: 120px;
    background-color: rgba(35, 116, 124, 0.8);
    padding: 20px;
  }

  #about .description .block button {
    padding: 20px;
    //  margin: 20px;
    border-top-left-radius: 120px;
    background-color: rgba(35, 116, 124, 0.8);
    border: 5px solid rgba(35, 116, 124, 2);
    color: white;
    font-size: 18px;

    //  border-bottom-right-radius: 120px;
  }
  #myModal .modal-dialog .modal-content .modal-header img {
    width: 90%;
  }
}
// Medium devices (tablets, 768px and up)
@media (max-width: 992px) and (min-width: 768px) {
  #about .description h1 {
    font-size: 25px;
  }

  #about .description {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #about .description .text_foto .foto {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    height: auto;
  }
  #about .description .text-foto {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //  height: 50vh;
    padding: 5px 10px 5px 10px;
  }

  #about .description .text-foto .text {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 12px;
    height: auto;
    padding: 30px;
  }

  #about .description .text-foto .text p {
    font-size: 16px;
  }

  #about .description .foto img {
    margin: 0 auto;
    width: 60%;
    border-bottom-right-radius: 120px;
    //   border-bottom-left-radius: 120px;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    background-color: rgba(35, 116, 124, 0.8);
    padding: 20px;
  }

  #about .description .block button {
    padding: 20px;
    //  margin: 20px;
    border-top-left-radius: 120px;
    background-color: rgba(35, 116, 124, 0.8);
    margin-left: 550px;
    border: 5px solid rgba(35, 116, 124, 2);
    color: white;
    font-size: 18px;
  }

  #myModal .modal-dialog .modal-content .modal-header img {
    width: 60%;
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  #about .description h1 {
    font-size: 25px;
  }

  #about .description {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #about .description .text_foto .foto {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    height: auto;
  }
  #about .description .text-foto {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //  height: 50vh;
    padding: 5px 10px 5px 10px;
  }
  #about .description .text-foto .text p {
    font-size: 14px;
  }
  #about .description .text-foto .text {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 12px;
    height: auto;
    padding: 30px;
  }

  #about .description .text-foto .text p {
    font-size: 16px;
  }

  #about .description .foto img {
    margin: 0 auto;
    width: 40%;
    border-bottom-right-radius: 120px;
    //   border-bottom-left-radius: 120px;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    background-color: rgba(35, 116, 124, 0.8);
    padding: 15px;
  }

  #myModal .modal-dialog .modal-content .modal-header img {
    width: 90%;
  }
  #about .description .block button {
    padding: 20px;
    //  margin: 20px;
    border-top-left-radius: 120px;
    background-color: rgba(35, 116, 124, 0.8);
    margin: 0 50px;
    border: 5px solid rgba(35, 116, 124, 2);
    color: white;
    font-size: 18px;
    //  border-bottom-right-radius: 120px;
  }
}
@media (max-width: 576px) and (min-width: 500px) {
  #about .description h1 {
    font-size: 25px;
  }

  #about .description {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #about .description .text_foto .foto {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    height: auto;
  }

  #about .description .text-foto .text {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 12px;
    height: auto;
    padding: 20px;
  }

  #about .description .text-foto .text p {
    font-size: 14px;
  }

  #about .description .text-foto {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 15px 20px 15px 20px;
  }

  #about .description .foto img {
    margin: 0 auto;
    width: 50%;
    border-bottom-right-radius: 120px;
    //   border-bottom-left-radius: 120px;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    background-color: rgba(35, 116, 124, 0.8);
    padding: 15px;
  }

  #about .description .block button {
    padding: 20px;
    //  margin: 20px;
    border-top-left-radius: 120px;
    background-color: rgba(35, 116, 124, 0.8);
    border: 5px solid rgba(35, 116, 124, 2);
    color: white;
    font-size: 14px;
    //  border-bottom-right-radius: 120px;
  }

  #myModal .modal-dialog .modal-content .modal-header img {
    width: 65%;
  }
}

@media (max-width: 500px) and (min-width: 375px) {
  #about .description {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #about .description h1 {
    font-size: 25px;
  }

  #about .description .text_foto .foto {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    height: auto;
  }
  #about .description .text-foto {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 5px 10px 5px 10px;
  }

  #about .description .text-foto .text {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 12px;
    height: auto;
    padding: 20px;
  }

  #about .description .text-foto .text p {
    font-size: 14px;
  }
  #about .description .foto img {
    margin: 0 auto;
    width: 50%;
    border-bottom-right-radius: 120px;
    //   border-bottom-left-radius: 120px;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    background-color: rgba(35, 116, 124, 0.8);
    padding: 15px;
  }

  #about .description .block button {
    padding: 20px;
    //  margin: 20px;
    border-top-left-radius: 120px;
    background-color: rgba(35, 116, 124, 0.8);
    border: 5px solid rgba(35, 116, 124, 2);
    color: white;
    font-size: 14px;
    //  border-bottom-right-radius: 120px;
  }

  #myModal .modal-dialog .modal-content .modal-header img {
    width: 65%;
  }
}

@media (max-width: 375px) {
  #about .description h1 {
    font-size: 25px;
  }

  #about .description {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #about .description .text_foto .foto {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    height: auto;
  }
  #about .description .text-foto {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //  height: 65vh;
    padding: 5px 10px 5px 10px;
  }

  #about .description .text-foto .text {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 12px;
    height: auto;
    padding: 20px;
  }

  #about .description .text-foto .text p {
    font-size: 14px;
  }

  #about .description .foto img {
    margin: 0 auto;
    width: 50%;
    border-bottom-right-radius: 120px;
    //   border-bottom-left-radius: 120px;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    background-color: rgba(35, 116, 124, 0.8);
    padding: 8px;
  }

  #about .description .block button {
    padding: 8px;
    //  margin: 20px;
    border-top-left-radius: 120px;
    background-color: rgba(35, 116, 124, 0.8);
    border: 5px solid rgba(35, 116, 124, 2);
    color: white;
    font-size: 18px;

    //  border-bottom-right-radius: 120px;
  }

  #myModal .modal-dialog .modal-content .modal-header img {
    width: 85%;
  }
}
