.main-wrapper {
  border-radius: 4px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
}

a.button2 {
  font-size: 1.5rem;
  color: white;
  position: relative;
  border-radius: 50%;
  padding: 5px;
  margin: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}

a.button2:after {
  content: "";
  width: 100%;
  height: 100%;
  border: solid 2px;
  transform: scale(0.8);
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

a.button2:hover:after {
  transform: scale(1);
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}

a.button2:nth-of-type(1) {
  background-color: #cd8484;
}

a.button2:nth-of-type(1):hover {
  color: #cd8484;
}

a.button2:nth-of-type(1):after {
  border-color: #cd8484;
}

a.material-icons:hover {
  background-color: transparent;
  transform: rotate(90deg);
  cursor: pointer;
  box-shadow: none;
}

p {
  color: #999;
  font-weight: 300;
  margin-top: 20px;
}

@media (min-width: 601px) {
  a.button2 {
    padding: 10px;
    margin: 5px;
    font-size: 2rem;
  }
}

@media (min-width: 993px) {
  a.button2 {
    padding: 20px;
    margin: 10px;
    font-size: 4rem;
  }
  a.button2:after {
    border-width: 3px;
    top: -3px;
    left: -3px;
  }
}
