* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
}

body {
  font-size: 1rem;
  background-color: #ebebeb;
  text-align: center;
  margin: 0;
  height: 100%;
}

html {
  width: 100%;
  margin: 0 auto;
  height: auto;
}

#container {
  width: 100%;
  margin: 0 auto;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
  height: auto;
}
