// // Extra large devices (large desktops, 1200px and up)
@media (max-width: 2000px) and (min-width: 1200px) {
  header {
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    left: 0;
    margin: 0 auto;
    display: flex;
  }
  #myModal .modal-dialog .modal-content .modal-header img {
    width: 100%;
    height: 100%;
  }
  header img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
  }
}
// // Large devices (desktops, 992px and up)
@media (max-width: 1200px) and (min-width: 992px) {
  .header img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 60vh;
  }
}
// Medium devices (tablets, 768px and up)
@media (max-width: 992px) and (min-width: 768px) {
  .header img {
    display: block;
    margin: 0 auto;
    height: 60vh;
    width: 100%;
  }
}
@media (max-width: 768px) and (min-width: 576px) {
  .header img {
    margin: 0 auto;
    height: 40vh;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .header img {
    margin: 0 auto;
    height: 40vh;
    width: 100%;
  }
}
