// // Extra large devices (large desktops, 1200px and up)
@media (max-width: 2000px) and (min-width: 1200px) {
  #portfolio .container .grid .projekte .module img {
    width: 80%;
    height: 80%;
  }

  #portfolio {
    background-color: rgba(35, 116, 124, 0.6);

    .container {
      .row {
        .col-lg-12 {
          h2 {
            font-size: 45px;

            margin-bottom: 20px;
            text-align: center;
          }
          h3 {
            font-size: 18px;
            text-align: center;
          }
        }
      }
      margin-left: auto;
      width: 100%;
      margin-right: auto;
    }

    .container .grid .projekte {
      /* Grid Fallback */
      display: flex;
      flex-wrap: wrap;
      margin: 15px;

      /* Supports Grid */
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
      grid-auto-rows: minmax(150px, auto);
      grid-gap: 1em;
    }

    .container .grid .projekte .module {
      /* Demo-Specific Styles */
      background: rgba(35, 116, 124, 1);
      display: block;
      align-items: center;
      justify-content: center;
      height: 440px;

      /* Flex Fallback */
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 20px;
      flex: 1 1 400px;
    }
    .container .grid .projekte .module img {
      /* Demo-Specific Styles */
      margin: 0 auto;
      display: block;
      padding: 10px;
    }

    .container .grid .projekte .module .click {
      flex-direction: row;

      /* Demo-Specific Styles */
    }
    .container .grid .projekte .module .click .button {
      text-align: center;
      display: block;
      -webkit-font-smoothing: antialiased;
      background-color: #222; /* dark blue */
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 100;
      text-decoration: none;
      user-select: none;
      letter-spacing: 1px;
      color: white;
      padding: 20px 40px;
      text-transform: uppercase;
      transition: background-color 0.1s ease-out;
      float: left;
      width: 297px;
      /* Demo-Specific Styles */
    }
    .container .grid .projekte .module .click .button:hover {
      background-color: #2cd892;
    }

    .container .grid .projekte .module .click a {
      text-align: center;
      outline: none;

      /* Demo-Specific Styles */
    }

    @supports (display: grid) {
      .module {
        margin: 0;
      }
    }
  }
}

// // Large devices (desktops, 992px and up)
@media (max-width: 1200px) and (min-width: 992px) {
  #portfolio .container .grid .projekte .module .click .button {
    width: 395px;
    height: 55px;

    /* Demo-Specific Styles */
  }

  #portfolio {
    background-color: rgba(35, 116, 124, 0.6);

    .container {
      .row {
        .col-lg-12 {
          h2 {
            font-size: 30px;
            margin-bottom: 20px;
            text-align: center;
          }
          h3 {
            font-size: 18px;
            text-align: center;
          }
        }
      }
      margin-left: auto;
      width: 100%;
      margin-right: auto;
    }

    .container .grid .projekte {
      /* Grid Fallback */
      display: flex;
      flex-wrap: wrap;
      margin: 15px;

      /* Supports Grid */
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      grid-auto-rows: minmax(150px, auto);
      grid-gap: 1em;
    }

    .container .grid .projekte .module {
      /* Demo-Specific Styles */
      background: rgba(35, 116, 124, 1);
      display: block;
      align-items: center;
      justify-content: center;
      height: 440px;

      /* Flex Fallback */
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 20px;
      flex: 1 1 200px;
    }

    /* Demo-Specific Styles */
    .container .grid .projekte .module img {
      /* Demo-Specific Styles */
      margin: 0 auto;
      display: block;
      padding: 10px;
      width: 90%;
    }

    .container .grid .projekte .module .click {
      flex-direction: row;
      margin: 0 50px;

      /* Demo-Specific Styles */
    }
    .container .grid .projekte .module .click .button {
      text-align: center;
      // display: block;
      -webkit-font-smoothing: antialiased;
      background-color: #222; /* dark blue */
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 100;
      text-decoration: none;
      user-select: none;
      letter-spacing: 1px;
      color: white;
      padding: 20px 40px;
      text-transform: uppercase;
      transition: background-color 0.1s ease-out;
      // float: left;
      // width: 297px;
      /* Demo-Specific Styles */
    }
    .container .grid .projekte .module .click .button:hover {
      background-color: #2cd892;
    }

    .container .grid .projekte .module .click a {
      text-align: center;
      outline: none;

      /* Demo-Specific Styles */
    }

    @supports (display: grid) {
      .module {
        margin: 0;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 992px) and (min-width: 768px) {
  #portfolio .container .grid .projekte .module .click .button {
    width: 341.5px;
    height: 60px;
    /* Demo-Specific Styles */
  }
  .container .grid .projekte .module img {
    /* Demo-Specific Styles */
    margin: 0 auto;
    display: block;
    padding: 10px;
    width: 60%;
  }
  #portfolio {
    background-color: rgba(35, 116, 124, 0.6);

    .container {
      .row {
        .col-lg-12 {
          h2 {
            font-size: 30px;
            margin-bottom: 20px;
            text-align: center;
          }
          h3 {
            font-size: 18px;
            text-align: center;
          }
        }
      }
      margin-left: auto;
      width: 100%;
      margin-right: auto;
    }

    .container .grid .projekte {
      /* Grid Fallback */
      display: flex;
      flex-wrap: wrap;
      margin: 15px;

      /* Supports Grid */
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
      grid-auto-rows: minmax(150px, auto);
      grid-gap: 1em;
    }

    .container .grid .projekte .module {
      /* Demo-Specific Styles */
      background: rgba(35, 116, 124, 1);
      display: block;
      align-items: center;
      justify-content: center;
      height: 440px;

      /* Flex Fallback */
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 20px;
      flex: 1 1 400px;
    }

    /* Demo-Specific Styles */
    #portfolio .container .grid .projekte .module img {
      width: 50%;
      height: 50%;
    }

    .container .grid .projekte .module .click {
      flex-direction: row;
      margin: 0 50px;
      /* Demo-Specific Styles */

      /* Demo-Specific Styles */
    }
    .container .grid .projekte .module .click .button {
      text-align: center;
      // display: block;
      -webkit-font-smoothing: antialiased;
      background-color: #222; /* dark blue */
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 100;
      text-decoration: none;
      user-select: none;
      letter-spacing: 1px;
      color: white;
      padding: 20px 40px;
      text-transform: uppercase;
      transition: background-color 0.1s ease-out;
      // // float: left;
      // width: 350px;
      /* Demo-Specific Styles */
    }
    .container .grid .projekte .module .click .button:hover {
      background-color: #2cd892;
    }

    .container .grid .projekte .module .click a {
      text-align: center;
      outline: none;

      /* Demo-Specific Styles */
    }

    @supports (display: grid) {
      .module {
        margin: 0;
      }
    }
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  #portfolio .container .grid .projekte .module .click .button {
    width: 341.5px;
    height: 60px;
    /* Demo-Specific Styles */
  }
  .container .grid .projekte .module img {
    /* Demo-Specific Styles */
    margin: 0 auto;
    display: block;
    padding: 10px;
    width: 60%;
  }
  #portfolio {
    background-color: rgba(35, 116, 124, 0.6);

    .container {
      .row {
        .col-lg-12 {
          h2 {
            font-size: 30px;
            margin-bottom: 20px;
            text-align: center;
          }
          h3 {
            font-size: 18px;
            text-align: center;
          }
        }
      }
      margin-left: auto;
      width: 100%;
      margin-right: auto;
    }

    .container .grid .projekte {
      /* Grid Fallback */
      display: flex;
      flex-wrap: wrap;
      margin: 15px;

      /* Supports Grid */
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
      grid-auto-rows: minmax(150px, auto);
      grid-gap: 1em;
    }

    .container .grid .projekte .module {
      /* Demo-Specific Styles */
      background: rgba(35, 116, 124, 1);
      display: block;
      align-items: center;
      justify-content: center;
      height: 440px;

      /* Flex Fallback */
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 20px;
      flex: 1 1 400px;
    }

    /* Demo-Specific Styles */
    #portfolio .container .grid .projekte .module img {
      width: 70%;
      height: 70%;
    }

    .container .grid .projekte .module .click {
      flex-direction: row;
      margin: 0 50px;
      display: block;
      /* Demo-Specific Styles */
    }
    .container .grid .projekte .module .click .button {
      text-align: center;
      display: block;
      -webkit-font-smoothing: antialiased;
      background-color: #222; /* dark blue */
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 100;
      text-decoration: none;
      user-select: none;
      letter-spacing: 1px;
      color: white;
      padding: 20px 40px;
      text-transform: uppercase;
      transition: background-color 0.1s ease-out;
      float: left;
      width: 170px;

      /* Demo-Specific Styles */
    }
    .container .grid .projekte .module .click .button:hover {
      background-color: #2cd892;
    }

    .container .grid .projekte .module .click a {
      text-align: center;
      outline: none;

      /* Demo-Specific Styles */
    }

    @supports (display: grid) {
      .module {
        margin: 0;
      }
    }
  }
}

@media (max-width: 576px) and (min-width: 500px) {
  #portfolio .container .grid .projekte .module .click .button {
    width: 341.5px;
    height: 60px;
    /* Demo-Specific Styles */
  }
  .container .grid .projekte .module img {
    /* Demo-Specific Styles */
    margin: 0 auto;
    display: block;
    padding: 10px;
    width: 70%;
  }
  #portfolio {
    background-color: rgba(35, 116, 124, 0.6);

    .container {
      .row {
        .col-lg-12 {
          h2 {
            font-size: 30px;
            margin-bottom: 20px;
            text-align: center;
          }
          h3 {
            font-size: 18px;
            text-align: center;
          }
        }
      }
      margin-left: auto;
      width: 100%;
      margin-right: auto;
    }

    .container .grid .projekte {
      /* Grid Fallback */
      display: flex;
      flex-wrap: wrap;
      margin: 15px;

      /* Supports Grid */
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
      grid-auto-rows: minmax(150px, auto);
      grid-gap: 1em;
    }

    .container .grid .projekte .module {
      /* Demo-Specific Styles */
      background: rgba(35, 116, 124, 1);
      display: block;
      align-items: center;
      justify-content: center;
      height: 440px;

      /* Flex Fallback */
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 20px;
      flex: 1 1 400px;
    }

    /* Demo-Specific Styles */
    #portfolio .container .grid .projekte .module img {
      width: 70%;
      height: 70%;
    }

    .container .grid .projekte .module .click {
      flex-direction: row;
      margin: 0 50px;

      /* Demo-Specific Styles */
    }
    .container .grid .projekte .module .click .button {
      text-align: center;
      display: block;
      -webkit-font-smoothing: antialiased;
      background-color: #222; /* dark blue */
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 100;
      text-decoration: none;
      user-select: none;
      letter-spacing: 1px;
      color: white;
      padding: 20px 40px;
      text-transform: uppercase;
      transition: background-color 0.1s ease-out;
      float: left;
      width: 473px;
      /* Demo-Specific Styles */
    }
    .container .grid .projekte .module .click .button:hover {
      background-color: #2cd892;
    }

    .container .grid .projekte .module .click a {
      text-align: center;
      outline: none;

      /* Demo-Specific Styles */
    }

    @supports (display: grid) {
      .module {
        margin: 0;
      }
    }
  }
}
@media (max-width: 500px) and (min-width: 375px) {
  #portfolio {
    background-color: rgba(35, 116, 124, 0.6);

    .container {
      .row {
        .col-lg-12 {
          h2 {
            font-size: 40px;
            margin-bottom: 20px;
            text-align: center;
          }
          h3 {
            font-size: 18px;
            text-align: center;
          }
        }
      }
      margin-left: auto;
      width: 100%;
      margin-right: auto;
      padding-left: 0px;
      padding-right: 0px;
    }

    .container .grid .projekte {
      /* Grid Fallback */
      display: flex;
      flex-wrap: wrap;
      // margin: 15px;

      /* Supports Grid */
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
      grid-auto-rows: minmax(150px, auto);
      grid-gap: 1em;
    }

    .container .grid .projekte .module {
      /* Demo-Specific Styles */
      background: rgba(35, 116, 124, 0.8);
      // display: block;
      align-items: center;
      justify-content: center;
      // height: 370px;

      /* Flex Fallback */
      // margin-left: 5px;
      // margin-right: 5px;
      margin-bottom: 20px;
      flex: 1 1 150px;
    }
    .container .grid .projekte .module img {
      /* Demo-Specific Styles */
      margin: 0 auto;
      display: block;
      padding: 20px;
      width: 80%;
    }

    .container .grid .projekte .module .click {
      flex-direction: row;
      margin: 0 50px;
      /* Demo-Specific Styles */
    }
    .container .grid .projekte .module .click .button {
      text-align: center;
      display: block;
      -webkit-font-smoothing: antialiased;
      background-color: #222; /* dark blue */
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 100;
      text-decoration: none;
      user-select: none;
      letter-spacing: 1px;
      color: white;
      padding: 20px 40px;
      text-transform: uppercase;
      transition: background-color 0.1s ease-out;
      float: left;
      width: 375px;
      /* Demo-Specific Styles */
    }
    .container .grid .projekte .module .click .button:hover {
      background-color: #2cd892;
    }

    .container .grid .projekte .module .click a {
      text-align: center;
      outline: none;

      /* Demo-Specific Styles */
    }

    @supports (display: grid) {
      .module {
        margin: 0;
      }
    }
  }
}
@media (max-width: 375px) {
  #portfolio {
    background-color: rgba(35, 116, 124, 0.6);

    .container {
      .row {
        .col-lg-12 {
          h2 {
            font-size: 30px;
            margin-bottom: 20px;
            text-align: center;
          }
          h3 {
            font-size: 18px;
            text-align: center;
          }
        }
      }
      margin-left: auto;
      width: 100%;
      margin-right: auto;
      padding-left: 0px;
      padding-right: 0px;
    }

    .container .grid .projekte {
      /* Grid Fallback */
      display: flex;
      flex-wrap: wrap;
      // margin: 15px;

      /* Supports Grid */
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
      grid-auto-rows: minmax(150px, auto);
      grid-gap: 1em;
    }

    .container .grid .projekte .module {
      /* Demo-Specific Styles */
      background: rgba(35, 116, 124, 0.8);
      // display: block;
      align-items: center;
      justify-content: center;
      // height: 370px;

      /* Flex Fallback */
      // margin-left: 5px;
      // margin-right: 5px;
      margin-bottom: 20px;
      flex: 1 1 150px;
    }
    .container .grid .projekte .module img {
      /* Demo-Specific Styles */
      margin: 0 auto;
      display: block;
      padding: 5px;
      width: 70%;
    }

    .container .grid .projekte .module .click {
      flex-direction: row;
      margin: 0 50px;
      /* Demo-Specific Styles */
    }
    .container .grid .projekte .module .click .button {
      text-align: center;
      display: block;
      -webkit-font-smoothing: antialiased;
      background-color: #222; /* dark blue */
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      font-weight: 100;
      text-decoration: none;
      user-select: none;
      letter-spacing: 1px;
      color: white;
      padding: 20px 40px;
      text-transform: uppercase;
      transition: background-color 0.1s ease-out;
      float: left;

      // width: 364px;
      /* Demo-Specific Styles */
    }
    .container .grid .projekte .module .click .button:hover {
      background-color: #2cd892;
    }

    .container .grid .projekte .module .click a {
      text-align: center;
      outline: none;

      /* Demo-Specific Styles */
    }

    @supports (display: grid) {
      .module {
        margin: 0;
      }
    }
  }
}
