// // Extra large devices (large desktops, 1200px and up)
// @media (max-width: 2000px) and (min-width: 1200px) {
#about .description .skills {
  margin: 0 auto;
  //   height: 50vh;
  background-color: #a7d7c5;
}

#about .description .skills .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;

  padding: 5px;
  width: 100%;
  flex-wrap: wrap;
}

.grid-item {
  padding: 20px;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 110px;
}
.grid-item1 {
  padding: 20px;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  width: 140px;
  height: 110px;
}

.skills h2 {
  font-size: 45px;
  margin-bottom: 20px;
  text-align: center;
}
// }

// // Large devices (desktops, 992px and up)

// @media (max-width: 1200px) and (min-width: 992px) {
//   #about .description .skills {
//     margin: 0 auto;
//     height: 50vh;
//     background-color: #a7d7c5;
//   }

//   #about .description .skills .grid-container {
//     display: grid;
//     grid-template-columns: auto auto auto;

//     padding: 5px;
//     width: 100%;
//     flex-wrap: wrap;
//   }

//   .grid-item {
//     padding: 20px;
//     font-size: 20px;
//     display: block;
//     margin: 0 auto;
//     width: 100px;
//     height: 110px;
//   }
//   .grid-item1 {
//     padding: 20px;
//     font-size: 20px;
//     display: block;
//     margin: 0 auto;
//     width: 140px;
//     height: 110px;
//   }

//   .skills h2 {
//     font-size: 30px;
//     margin-bottom: 20px;
//     text-align: center;
//   }
// }

// // Medium devices (tablets, 768px and up)
// // @media (min-width: 768px) {
// @media (max-width: 992px) and (min-width: 768px) {
//   #about .description .skills {
//     margin: 0 auto;
//     height: 50vh;
//     background-color: #a7d7c5;
//   }

//   #about .description .skills .grid-container {
//     display: grid;
//     grid-template-columns: auto auto auto;

//     padding: 5px;
//     width: 100%;
//     flex-wrap: wrap;
//   }

//   .grid-item {
//     padding: 20px;
//     font-size: 20px;
//     display: block;
//     margin: 0 auto;
//     width: 100px;
//     height: 110px;
//   }
//   .grid-item1 {
//     padding: 20px;
//     font-size: 20px;
//     display: block;
//     margin: 0 auto;
//     width: 140px;
//     height: 110px;
//   }

//   .skills h2 {
//     font-size: 30px;
//     margin-bottom: 20px;
//     text-align: center;
//   }
// }

// @media (max-width: 768px) and (min-width: 576px) {
//   #about .description .skills {
//     margin: 0 auto;
//     height: 50vh;
//     background-color: #a7d7c5;
//   }

//   #about .description .skills .grid-container {
//     display: grid;
//     grid-template-columns: auto auto auto;

//     padding: 5px;
//     width: 100%;
//     flex-wrap: wrap;
//   }

//   .grid-item {
//     padding: 20px;
//     font-size: 20px;
//     display: block;
//     margin: 0 auto;
//     width: 100px;
//     height: 110px;
//   }
//   .grid-item1 {
//     padding: 20px;
//     font-size: 20px;
//     display: block;
//     margin: 0 auto;
//     width: 140px;
//     height: 110px;
//   }

//   .skills h2 {
//     font-size: 30px;
//     margin-bottom: 20px;
//     text-align: center;
//   }
// }

@media (max-width: 500px) and (min-width: 375px) {
  //   #about .description .skills {
  //     margin: 0 auto;
  //     height: 50vh;
  //     background-color: #a7d7c5;
  //   }

  //   #about .description .skills .grid-container {
  //     display: grid;
  //     grid-template-columns: auto auto auto;

  //     padding: 5px;
  //     width: 100%;
  //     flex-wrap: wrap;
  //   }

  .grid-item {
    padding: 20px;

    display: block;
    margin: 0 auto;
    width: 60px;
    height: 110px;
  }
  .grid-item1 {
    padding: 20px;
    display: block;
    margin: 0 auto;
    width: 90px;
    height: 110px;
  }
  .skills .grid-container img {
    width: 60%;
  }
  #about .description .skills {
    margin: 0 auto;
    height: 50vh;
    background-color: #a7d7c5;
  }
  //   .skills h2 {
  //     font-size: 30px;
  //     margin-bottom: 20px;
  //     text-align: center;
  //   }

  .skills h2 {
    font-size: 45px;
    margin-bottom: 20px;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .skills .grid-container img {
    width: 80%;
  }
  #about .description .skills {
    margin: 0 auto;
    //  height: 80vh;
    background-color: #a7d7c5;
  }

  .skills h2 {
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
  }
}
