@import "_global.scss";
@import "_header.scss";
@import "_about.scss";
@import "_portfolio.scss";
@import "_footer.scss";
@import "_skills.scss";

.example {
  display: grid;
  transition: all 0.5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}
